* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#app {
    @apply bg-blue-400 h-[100vh] w-full flex justify-center items-center;
}

.message_left {
    @apply bg-white rounded-tr-none text-right
}

.message_right {
    @apply bg-blue-500 rounded-tr-none text-left text-white
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}